<!DOCTYPE html>
<html>

<%- include('head-section', {title: 'Favorites - Calculator Website', calculators: calculators}); %>

<body ng-app="calculatorApp" ng-controller="app-controller">
    <%- include('nav-section'); %>

    <div class="wrapper">
        <div class="calculators">
            <% calculators.forEach(function(calculator) { %>
                <div ng-controller="<%= calculator %>" id="<%= calculator %>-calculator">
                    <div class="calc {{ calc.colorTheme.backgroundColor }}-background">                
                        <%- include('calculator-parts/calc', {calculator: calculator, favorited: true}); %>
                    </div>
                </div>
            <% }); %>
        </div>

        <% if(calculators.length === 0) { %>
            <h3>You don't have any favorites!</h3>
            <p>Click the 'Favorite' button on a calculator to add it to your favorites.</p>
        <% } %>
    </div>
    
    <%- include('calculator-parts/settings-modal'); %>
    <%- include('calculator-parts/info-modal'); %>
</body>
</html>
