<!DOCTYPE html>
<html>

<%- include('head-section', {title: 'Calculator Website', calculators: calculators}); %>

<body ng-app="calculatorApp" ng-controller="app-controller">
    <%- include('nav-section'); %>

    <div class="wrapper">
        <div class="calculators">
            <% calculators.forEach(function(calculator) { %>
                <div ng-controller="<%= calculator %>" id="<%= calculator %>-calculator">
                    <div class="calc {{ calc.colorTheme.backgroundColor }}-background">                
                        <%- include('calculator-parts/calc', {calculator: calculator, favorited: favorites.includes(calculator)}); %>
                    </div>
                </div>
            <% }); %>
        </div>    
    </div>
    
    <%- include('calculator-parts/settings-modal'); %>
    <%- include('calculator-parts/info-modal'); %>
    <script>
        let favorites = "<%= favorites %>";
        let calculatorSettings = <%- JSON.stringify(calculatorSettings) %>;
    </script>
</body>
</html>
