<div class="calc-content">
	<%- include('calc-top', {favorited: favorited}); %>
	<%- include('calc-description'); %>
	<%- include('../calculators/' + calculator); %>
	<%- include('calc-errors'); %>
	<%- include('calc-bottom'); %>
</div>
